@import './reset.scss';
@import './base.scss';

:root {
  // nav
  --navbar-height: 48px;
  --navbar-padding: 0 20px;
  //sidemenu
  --sidebar-width: 240px;
  --sidebar-padding: 6px 12px;
  // tree-base-style
  --tree-label-font-color: #675D50;
  --tree-label-font-size: 14px;
  --tree-highlight-bg-color: #F3DEBA;
  --tree-icon-color: #A9907E;
  --tree-node-height: 28px;
}